body {
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    width: fit-content;
    height: fit-content;
    border: #fff solid 2px;
    border-radius: 10px 10px 0 0;
}

.alive {
    fill: #ff0000;
    stroke: #000;
}

.cell {
    fill: #000;
    stroke: #808080;
}


h3 {
    color: #fff;
}

button {
    padding: 10px 20px;
    margin: 0;
    color: #fff;
    border: #fff solid 2px;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    width: 67%;
    font-weight: bold;
}

#stop {
    background-color: #ff0000;
    border-radius: 0;
}

#reset {
    background-color: #0029af;
}