* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    display: flex;
    align-items: center;
    flex-direction: column;
}

fieldset {
    width: 90%;
    text-align: center;
    font-weight: bold;
    border: 0;
    font-size: 125%;
}

fieldset div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

form {
    height: auto;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    margin: 10px;
}

h1 {
    text-align: center;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form input[type="button"],
fieldset div button {
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 2px;
    font-size: 1.5em;
    transition: ease-in-out 0.5s;
}

form input[type="button"]:hover,
fieldset div button {
    cursor: pointer;
}

form input[type="number"] {
    border: 0;
    border-bottom: 0.1em solid black;
    caret-color: transparent;
    margin-bottom: 2em;
    font-size: 1em;
    transition: ease-in-out 0.4s;
    width: 100%;
}

form input[type="number"]:focus {
    border-bottom: 0.3em solid black;
    outline: none;
}

form input[type="number"]::placeholder {
    color: darkgray;
}

form label {
    color: gray;
    font-size: 1em;
}

form label,
form input {
    display: block;
}

h1 {
    margin-bottom: 3em;
}

#calcular,
fieldset div button {
    background: black;
}

#calcular:hover,
fieldset div button:hover {
    background: gray;
    border-color: gray;
}

#calcular:active,
#limpar:active,
fieldset div button:active {
    transform: scale(105%);
}

#limpar {
    background: red;
    border-color: red;
}

#limpar:hover {
    background: tomato;
    border-color: tomato;
}

label[for="media"] {
    color: #254592;
}

fieldset div button {
    font-size: 125%;
}