* {
    font-family: monospace;
}

h3 {
    color: #fff;
    font-size: 1.5em;
}

input,
button {
    font-family: monospace;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: #808080 solid 2px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    width: fit-content;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
}

div label {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

#container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

#container textarea {
    width: 400px;
    min-height: 300px;
    line-height: 0.6;
    font-size: .5em;
    letter-spacing: 0;
    border-radius: 15px 15px 0 0;
}

#container button {
    margin-bottom: 15px;
    width: 36.2%;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3em;
}

#h-group,
#i-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#xy-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

span {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    text-align: center;
    background-color: #808080;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    border-radius: 15px;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out 1s;
}

input:hover,
button:hover {
    cursor: pointer;
}