:root {
  --FardoTools-primary-color: rgb(34, 139, 34);
  --FardoTools-secundary-color: rgb(95, 133, 117);
  --FardoTools-terciary-color: rgb(40, 40, 43);
}
/*---------------------------------------------------------------------*/
.FardoTools-square {
  width: 50px;
  height: 50px;
  background-color: red;
}
.FardoTools-circle {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background-color: red;
}
.FardoTools-triangle {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.FardoTools-parallelogram {
  width: 50px;
  height: 50px;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  background-color: red;
}
.FardoTools-diamond {
  width: 50px;
  height: 50px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: red;
}
.FardoTools-trapezoid {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.FardoTools-pentagon {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.FardoTools-hexagon {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.FardoTools-heptagon {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}
.FardoTools-octagon {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
.FardoTools-nonagon {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}
.FardoTools-decagon {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}
.FardoTools-bevel {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}
.FardoTools-rabbet {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}
.FardoTools-arrow-left {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
}
.FardoTools-arrow-right {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.FardoTools-point-left {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.FardoTools-point-right {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.FardoTools-chevron-left {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.FardoTools-chevron-right {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.FardoTools-star {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.FardoTools-cross {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    10% 25%,
    35% 25%,
    35% 0%,
    65% 0%,
    65% 25%,
    90% 25%,
    90% 50%,
    65% 50%,
    65% 100%,
    35% 100%,
    35% 50%,
    10% 50%
  );
}
.FardoTools-message {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.FardoTools-close {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}
.FardoTools-frame {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}
.FardoTools-inset {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: inset(5% 20% 15% 10%);
}
.FardoTools-ellipse {
  width: 50px;
  height: 50px;
  background-color: red;
  clip-path: ellipse(25% 40% at 50% 50%);
}
/*---------------------------------------------------------------------*/
.FardoTools-button-cancel {
  background-color: red;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 3px;
  transition: all 0.5s;
}
.FardoTools-button-cancel:active {
  border: 1px solid transparent;
}
.FardoTools-button-cancel:hover {
  background-color: crimson;
  cursor: pointer;
  text-decoration: underline;
}
/*---------------------------------------------------------------------*/
.FardoTools-button-confirm {
  background-color: limegreen;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 3px;
  transition: all 0.5s;
}
.FardoTools-button-confirm:active {
  border: 1px solid transparent;
}
.FardoTools-button-confirm:hover {
  background-color: lime;
  cursor: pointer;
  text-decoration: underline;
}
/*---------------------------------------------------------------------*/
.FardoTools-copyleft {
  display: inline-block;
  transform: scaleX(-1);
  filter: FlipH;
}
/*---------------------------------------------------------------------*/
.FardoTools-center-x {
  left: 50%;
  transform: translateX(-50%);
}
.FardoTools-center-y {
  top: 50%;
  transform: translateY(-50%);
}
.FardoTools-center-xy {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*---------------------------------------------------------------------*/