body {
    background-image: url("../img/background.jpg");
    background-color: var(--cor-fundo);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--cor-texto);
    font-family: consolas;
    font-weight: bold;
}

.images {
    display: none;
}

header {
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
}

header h1,
header h3 {
    width: fit-content;
    position: relative;
}

header h1 {
    font-size: 200%;
    color: var(--cor-primaria);
}

section {
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    width: calc(100% - 12px);
    height: fit-content;
    padding: 10px;
    border: 2px solid var(--cor-primaria);
    overflow: auto;
}

section li {
    list-style: none;
    width: 100%;
    margin: 5px 0 5px 0;
    border-radius: 15px;
    padding: 3px;
}

section fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .4s;
}

section fieldset legend {
    font-size: 1.5em;
}

section #slider fieldset iframe {
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

#horizontal-div {
    display: flex;
    flex-direction: row;
}

button[disabled] {
    background-color: #646464;
}

section figure {
    margin: auto auto 10px auto;
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
    width: 100%;
}

section img {
    width: 100%;
    height: auto;
    align-self: center;
}

section figcaption {
    text-align: center;
}

section a {
    color: var(--cor-primaria);
}

section a:active {
    columns: var(--cor-texto);
}

section a:visited {
    color: var(--cor-secundaria);
}

section #slider {
    display: flex;
    flex-direction: row;
}

section #slider fieldset:not(:first-of-type) {
    display: none;
}

section #slider div {
    background-color: rgba(0, 0, 0, .7);
    width: fit-content;
    padding: 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out .2s;
}

section #slider div div {
    background-color: #fff;
    width: 100%;
    height: auto;
}

section #codeView {
    width: 100%;
    height: fit-content;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: #585858;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

section pre code {
    font-size: small;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
    font-family: monospace;
    white-space: pre;
    text-align: left;
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, .8);
}

footer h2 {
    display: inline;
}

button:hover,
section #slider div:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

section #slider div:active {
    background-color: #808080;
}